/dist/
__pycache__/
.coverage
/deps/.stable-mir-json
/.vscode/
kmir/src/tests/integration/data/**/target
.DS_Store
kmir/src/tests/integration/data/prove-rs/*.md
kmir/src/tests/integration/data/prove-rs/proof
kmir/src/tests/integration/data/prove-rs/out