[project]
name = "mir-semantics"
version = "0.1.0"
source = "../semantic"

[targets.llvm]
backend = "llvm"
main-file = "mir.md"
main-module = "MIR"
syntax-module = "MIR-SYNTAX"
gen-glr-bison-parser = "true"


[targets.llvmc]
backend = "llvm"
main-file = "mir.md"
main-module = "MIR"
syntax-module = "MIR-SYNTAX"
llvm-kompile-type = "c"

[targets.haskell]
backend = "haskell"
main-file = "mir.md"
main-module = "MIR-SYMBOLIC"
syntax-module = "MIR-SYNTAX"
